/* ANIMATIONS */
@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch_title, .skill_name {
  position: relative;
  letter-spacing: 1rem;

  color: #000;
  font-size: 5rem;
  animation: glitch-skew 1s infinite linear alternative-reverse;

  &::before{
		// Duplicates our text with the mixin.
		@include glitchCopy;
		// Scoots text slightly to the left for the color offset.
		left: 2px;
		// Creates the color 'shadow' that happens on the glitch.
		text-shadow: -2px 0 #ff00c1;
		/* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
		clip: rect(44px, 450px, 56px, 0);
		/* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}

  &::after {
		@include glitchCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

/* Title and text | All */
.glitch_title {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: .5rem;
}

.text {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

/* Skill Grid */
.grid_container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1fr;
  gap: .5rem;
}

.skill_box {
  border-radius: .5rem;
  background-color: #f1f1f1;
  padding: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: .3s;
}

.skill_box:hover {
  background-color: #fff;
}

.skill_name {
  letter-spacing: .2rem;
  font-size: 1.4rem;
  display: none;
}

.skill_box:hover .skill_name {
  display: flex;
  text-align: center;

}

/* Contact */
.social_medias {
  width: 100%;

  display: flex;
  align-items: left;
  justify-content: left;
}

.social_medias a {
  width: 3.8rem;
  height: 3.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: .8rem;
}

/*Responsive*/
@media(min-width: 1110px) {
  .grid_container {
    grid-template-columns: repeat(6, 1fr);
  }
}